# Created by https://www.gitignore.io/api/react
# Edit at https://www.gitignore.io/?templates=react

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.gitignore.io/api/react

# Build files
.cache/
dist/
lib/

# Storybook
build/
public/

# ESLint cache
.eslintcache

# Makefile artifacts
.install*

# IDE
/.idea
/.vscode

# ENV
.env
